
 .cards{
  width: 420px;
  height: 250px;
  margin: 1.5rem;
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 3px 10px rgba(23, 23, 23, 0.489);
  background:linear-gradient(to right , rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.10)); 
  backdrop-filter: blur(4px); 
  border-top:2px solid rgba(255,255,255,0.25);
  border-left:2px solid rgba(255,255,255,0.25); 
  transition: all 0.2s ease;
} 
.cards:hover{
  width: 430px;
  height: 260px;
  background:linear-gradient(to bottom , rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.10)); 
}
.card-img img{
  border-radius: 50%;
}
 h1{
  margin-right: 0.1rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.83);
  margin-bottom: 2.5rem;
}
.icon{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 60%;
  font-size: 1.2rem;
  margin-left: -0.4rem;
  justify-content: space-around;
}

h2{
  margin-right: 0.1rem;
  font-size: 1.0rem;
  color: rgba(255, 255, 255, 0.823);
}

.card-name{
  display: flex;
}



 /* background:linear-gradient(80deg,#F49FE7,#DF55C5,#5D3FAD,#4ACCC5); */
  /* box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.095);*/