*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.home{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(23, 24, 34);
  justify-content: space-around;
}
.home-image img{
  width: 60%;
  margin-left:6rem;
}
.home-content{
  width: 40%;
  line-height: 1.5rem;
  margin-left: 5rem;
  color: aliceblue;
}
.home-content h1{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.hbtn{
  margin-top: 2rem;
  font-size: 0.8rem;
   padding: 0.8em 1.8em;
   border-radius: 30px;
   outline: none;
   color: #ffffff;
   border: 2px solid #ff451a;
   background: none;
}
.Nav li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:linear-gradient(to right , rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.12)); 
  color: aliceblue;
  padding-left: 3rem;
  font-size: 1.6rem;
  font-weight: 800;
  height: 70px;
  border-bottom:2px solid rgba(255,255,255,0.25);
}
.Nav{
  background:  rgb(23, 24, 34);;
}
.Nav ul li h2{ 
  font-size: 1.5rem;
}
.btn{
   font-size: 1rem;
   font-weight: 600;
   color: #fff9f9;
   padding: 0.5em 1.5em;
   border-radius: 30px;
   background:linear-gradient(to top, rgb(6, 221, 31),rgb(7, 224, 68));
   outline: none;
   border: none;
   margin-right: 3rem;
}
.btn:hover{
 background:linear-gradient(to top, rgb(5, 194, 27),rgb(6, 164, 51));
  
}
.hbtn:hover{
  background:linear-gradient(to top,#ff451a,#fa603d );
   
 }
.naruto {
  width: 100%;
  height: 100vh;
  background: rgb(23, 24, 34);
  display: flex;
  align-items: center;
  justify-content: center;
}
.naruto img{
  width: 30%;
}